web/WEB-INF/wsdl/localhost_50885/ServicioTR.svc.xsd_xsd3.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/"><xs:complexType name="FlowResponse"><xs:sequence><xs:element minOccurs="0" name="flowOrder" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="token" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="FlowResponse" nillable="true" type="tns:FlowResponse"/></xs:schema>